@model CumulativeAssignment_01.Models.Course
@* Styling the Form *@
<style>
	#updateParentDiv {
		margin-right500px;
	}

	form {
		border: 1px solid black;
		padding: 15px;
		text-align: center;
		width: 30%;
	}

	.formInput {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}

		.formInput label {
			width: 100px;
			display: block;
		}
</style>

@* Form Creation *@
<div id="updateParentDiv">
	<nav>
		<a class="navlink" href="/CoursePage/List">Back To Courses List</a>
	</nav>

	<h2> Update Course</h2>
	<form method="POST" action="/CoursePage/Update">
		<input type="hidden" name="id" value="@Model.CourseId" />
		<div class="formInput">
			<label for="CourseId">Course Id:</label>
			<input type="text" id="CourseId" name="CourseId" value="@Model.CourseId" />
		</div>
		<div class="formInput">
			<label for="CourseCode">Course Code:</label>
			<input type="text" id="CourseCode" name="CourseCode" value="@Model.CourseCode" />
		</div>
		<div class="formInput">
			<label for="TeacherId">Teacher Id:</label>
			<input type="text" id="TeacherId" name="TeacherId" value="@Model.TeacherId" />
		</div>
		<div class="formInput">
			<label for="StartDate">Start Date:</label>
			<input type="date" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
		</div>
		<div class="formInput">
			<label for="FinishDate">Finish Date:</label>
			<input type="date" id="FinishDate" name="FinishDate" value="@Model.FinishDate.ToString("yyyy-MM-dd")" />
		</div>
		<div class="formInput">
			<label for="CourseName">Course Name:</label>
			<input type="text" id="CourseName" name="CourseName" value="@Model.CourseName" />
		</div>
		<div class="formInput">
			<input type="submit" value="Update Course" />
		</div>
	</form>
</div>