@model CumulativeAssignment_01.Models.Teacher
@* Styling the Form *@
<style>
	#updateParentDiv {
		margin-right500px;
	}

	form {
		border: 1px solid black;
		padding: 15px;
		text-align: center;
		width: 30%;
	}

	.formInput {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}

		.formInput label {
			width: 100px;
			display: block;
		}
</style>

@* Form Creation *@
<div id="updateParentDiv">
	<nav>
		<a class="navlink" href="/TeacherPage/List">Back To Teachers List</a>
	</nav>

	<h2> Update Teacher</h2>
	<form method="POST" action="/TeacherPage/Update/@Model.TeacherId">
		<div class="formInput">
			<label for="TeacherFName">First Name:</label>
			<input type="text" id="TeacherFName" name="TeacherFName" value="@Model.TeacherFName"/>
		</div>
		<div class="formInput">
			<label for="TeacherLName">Last Name:</label>
			<input type="text" id="TeacherLName" name="TeacherLName" value="@Model.TeacherLName" />
		</div>
		<div class="formInput">
			<label for="EmployeeNo">Employee Number:</label>
			<input type="text" id="EmployeeNo" name="EmployeeNo" value="@Model.EmployeeNo" />
		</div>
		<div class="formInput">
			<label for="HireDate">Hire Date:</label>
			<input type="date" id="HireDate" name="HireDate" value="@Model.HireDate.ToString("yyyy-MM-dd")" />
		</div>
		<div class="formInput">
			<label for="Salary">Salary:</label>
			<input type="text" id="Salary" name="Salary" value="@Model.Salary" />
		</div>
		<div class="formInput">
			<input type="submit" value="Update Teacher" />
		</div>
	</form>
</div>